.classpath
.project
.settings
.metadata
*.zip
*.iml
*/.idea/
*/target/
*.log
*.log*
*.jar
*.html
*.lck
*.obj
*.pch
*.pdb
*.idb
*.htm
*.user
*.old
*.sdf
*.dsp
*.dll*
*.vspscc
*.vssscc
*_i.c
*_p.c
*.bak
*.ilk
*.sbr
*.exe
*.exp
*.lib
*.manifest
*.opensdf
*.dump
bin/
install/
logs/


# return that back
!/baseline/happy_trader/to_change/**/*.exe
!/baseline/happy_trader/extern/**/*.exe
!/baseline/happy_trader/scripts/**/*.exe

#
recommit_ignored.cmd

