.classpath
.project
.settings
.metadata
*.zip
*.iml
*/.idea/
*/target/
*.log
*.log*
*.jar
*.html
*.lck
*.obj
*.pch
*.pdb
*.idb
*.htm
*.user
*.old
*.sdf
*.dsp
*.dll*
*.vspscc
*.vssscc
*_i.c
*_p.c
*.bak
*.ilk
*.sbr
*.exe
*.exp
*.lib
*.manifest
*.opensdf
*.dump
bin/
install/

# return that back
#!to_change/
#!extern/


# return that back
!/to_change/**/*.exe
!/extern/**/*.exe
