.classpath
.project
.settings
.metadata
**.zip
**.iml
**/.idea/
**/target/
**.log
**.log*
**.jar
**.html
**.lck
**.obj
**.pch
**.pdb
**.idb
**.htm
**.user
**.old
**.sdf
**.dsp
**.dll*
**.exe
**.exp
**.lib
**.manifest
**.opensdf
**.dump
!to_change/unzip.exe
!to_change/zip.exe

