div.tbl_data {
	border: 1px solid black;
	overflow:scroll;
	width:expression(document.body.clientWidth - 40 );
	height:100%;
}

div.tbl_data_47 {
	border: 1px solid black;
	overflow:scroll;
	width:expression(document.body.clientWidth - 40 );
	height:47%;
}